@import url("https://fonts.googleapis.com/css2?family=Dosis&family=Noto+Serif&display=swap");
html {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: inherit;
}

#aboutme {
  min-height: 520px;
  position: relative;
  padding: 2rem;
  height: 85vh;
}

.introductiontext {
  font-size: 1.7rem;
  font-family: "Dosis", sans-serif;
  text-align: left;
  position: absolute;
  color: #333;
  top: 60%;
  left: 50%;
  transform: translate(-20%, -50%);
  padding-bottom: 4rem;
  width: 80%;
  max-width: 800px;
}

b {
  color: #ff007b;
}
.btn.btn-primary {
  background-color: #ff007b !important;
  border-color: #ff007b !important;
  color: #ffffff !important;
  margin-right: 19px;
}

.btn.btn-primary:hover {
  background-color: #ffffff !important;
  color: #ff007b !important;
}

.btn.btn-light:hover {
  background-color: #ff007b !important;
  color: #ffffff !important;
}

#myWork {
  display: grid;
  gap: 0rem;
  grid-template-columns: 1fr 1fr;
  min-height: 450px;
  margin: 0 auto;
  align-items: center;
  justify-items: center; /* Corrected comment */
}

.card {
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 30px;
  height: 520px;
  padding: 0;
  width: 69%;
  border-radius: 5%;
}
.card-img-top {
  height: 300px;
  width: 600px;
  object-fit: cover;
}

p {
  color: #333;
  font-weight: bold;
  font-size: 1.2rem;
  font-family: "Dosis", sans-serif;
  margin-bottom: 1.7rem;
}

.fa-solid {
  color: #ff007b;
}

.contact-form {
  width: 80%;
  max-width: 500px;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 5px 2px #dcdcdc;
}
.contact-form label {
  font-weight: bold;
}
.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
}
.contact-form textarea {
  height: 100px;
}

footer {
  background-color: #f5f5f5;
  padding: 10px;
  text-align: center;
}

.footer-content {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-content p {
  font-size: 16px;
  color: #333;
}

#social-icons {
  display: flex;
  gap: 10px;
}

#social-icons a {
  color: #333;
  font-size: 24px;
}

/* For tablets and smaller laptops */
@media (max-width: 1024px) {
  .introductiontext {
    font-size: 1.5rem;
    width: 90%;
  }
}

/* For mobile devices */
@media (max-width: 768px) {
  .introductiontext {
    font-size: 1.2rem;
    width: 100%;
  }
}

